@charset "UTF-8";
@font-face {
    font-family: font01;
    src: url(fontes/idroid.otf);
}
body {
    background-color: #82D9A0;
    margin: 0px;
    text-align: justify;
}
header {
    background-image: linear-gradient(to bottom, #3DDA83, #36C274, #227646);
    color: white;
    margin: 0%;
}
header > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px;
}
header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 0px 0px 5px 0px;
}
nav {
    margin: 10px;
}
nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0px;
}
a:hover {
    text-decoration: underline;
}
article#art01 {
    width: 600px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 4px  4px 9px 0px rgba(0, 0, 0, 0.301);
    font-family: Arial, Helvetica, sans-serif;
    
}
article#art01 > p {
    text-indent: 10px;
    padding: 0px;
}
article#art01 > h1 {
    font-family: font01;
    font-size: 2em;
    padding: 0px;
}
article#art01 > h2 {
    background-color: #c5dbcc;
    font-family: font01;
    font-size: 1em;
    padding: 0px 5px 0px 5px;
    
}
article#art01 > a {
    text-decoration: none;
}
picture {
    padding: 10px;
}    
picture > img {
    height: 200px;
    width: 580px;
}
article#video {
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 10px;
    background-color: #227646;
    box-shadow: 4px  4px 9px 0px rgba(0, 0, 0, 0.301);
    font-family: Arial, Helvetica, sans-serif;
    
}
iframe {
    display: block;
    margin: auto;
    
}
article#art02 {
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 1px 10px 10px 10px;
    background-color: white;
    box-shadow: 4px  4px 9px 0px rgba(0, 0, 0, 0.301);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 10px 10px;
    text-indent: 10px;
}
div {
    height: 250px;
    width: 580px;
    margin: auto;
    padding: 10px ;
    border-radius: 0px 0px 10px 10px;
    background-color: #82D9A0;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    padding: 10px;
    

}
h2#div {
    background-color: #57c486;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    color: white;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    
}
ul {
    list-style: none;
    text-align: left;
    font-weight: bold;
    color: black;

}
ul > a {
    color: black;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #227646;
    color: white;
    padding: 0px;
    
}
